#single-project {
    background: #f6f6f6;
    padding: 50px 0;
}

.single-project > .content,
.single-project .related-projects,
.single-project .navigation {
    margin-bottom: 40px;
}

/** slick **/
.single-project .carousel .slick-arrow {

}

.single-project .carousel .slick-arrow.slick-disabled {
    opacity: 0.1;
    cursor: default;
}
.single-project .carousel .slick-arrow.slick-disabled:hover {
    cursor: default;
    color: inherit;
}

.single-project .carousel .arrow-next,
.single-project .carousel .arrow-prev {
    position: absolute;
    top: 50%;
    z-index: 20;
    font-size: 20px;
    -webkit-transform: translate(0, -50%);
       -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
         -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.single-project .carousel .arrow-next:hover,
.single-project .carousel .arrow-prev:hover {
    cursor: pointer;
    color: #e89503;
}

.single-project .carousel .arrow-next {
    right: -25px;
}

.single-project .carousel .arrow-prev {
    left: -25px;
}


/** Title **/
.single-project div.title {
    margin-bottom: 25px;
}

/** Content **/
.single-project > .content > .left > .carousel {
    box-shadow: 0 7px 25px #000;
}
.single-project > .content > .left > .carousel .img {
    position: relative;
    height: 450px;
    overflow: hidden;
}

.single-project > .content > .left > .carousel > .img > img {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.single-project > .content > .left > .action {
    margin-top: 20px;
}

.single-project > .content > .left > .action > .order {
    text-align: center;
}

.single-project > .content > .right > .desc {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}

.single-project > .content > .right > .link-project {
    margin-top: 10px;
}

/** Navigation **/
.single-project > .navigation > .next {
    text-align: right;
}

/** Related projects & Categories **/
.single-project .related-projects > h3.title,
.single-project .categories > h3.title{
    margin-bottom: 25px;
}
.single-project .related-projects > .carousel .item:focus,
.single-project .related-projects > .carousel .item .img:focus,
.single-project .related-projects > .carousel .item .img > a > img:focus,
.single-project .categories > .carousel .item:focus,
.single-project .categories > .carousel .item .img:focus,
.single-project .categories > .carousel .item .img > a > img:focus,
.single-project > .content > .left > .carousel:focus,
.single-project > .content > .left > .carousel .img:focus,
.single-project > .content > .left > .img img:focus
{
    outline: none;
}

.single-project .related-projects > .carousel .item,
.single-project .categories > .carousel .item{
    position: relative;
    height: 350px;
    margin: 30px 15px;
    z-index: 10;
}

.single-project .related-projects > .carousel > .slick-list,

.single-project .related-projects > .carousel .item:hover > .action,
.single-project .categories > .carousel .item:hover > .action{
    display: block;
}

.single-project .related-projects > .carousel .item > .action,
.single-project .categories > .carousel .item > .action{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0 , 0.9);
}

.single-project .related-projects > .carousel .item > .img,
.single-project .categories > .carousel .item > .img{
    box-shadow: 0 7px 25px #000;
}

.single-project .related-projects > .carousel .item > .action > .link{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.single-project .categories > .carousel .item > .action {
    padding: 20px 15px;
}

.single-project .categories > .carousel .item > .action > .desc {
    color: #fff;
}

.single-project .categories > .carousel .item > .action > .link {
    position: absolute;
    bottom: 20px;
    right: 15px;
    text-align: right;
}

.single-project .related-projects > .carousel .item .img > img{
    min-height: 100%;
}

.single-project .categories > .carousel .item .img > img {
    width: 90%;
}

@media (max-width: 991px) {
    .single-project > .content > .left > .action {
        margin: 20px 0;
    }
}