/*   
Theme Name: your-clean-template-3
Theme URI: https://github.com/saxap/clean-wp-template
Version: 3.0
Tags: clean, development, html5, bootstrap
Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting
Author: saxa:p
Author URI: http://dontforget.pro
*/
@font-face {
  font-family: VantaThin;
  src: url(fonts/VantaThin.ttf);
 }
@font-face {
  font-family: EuropeExt;
  src: url(fonts/EuropeExt.ttf);
 }
@font-face {
  font-family: HelveticaNeueCyr;
  src: url(fonts/HelveticaNeueCyr.ttf);
 }
@font-face {
  font-family: BetinaScriptExtraCCT;
  src: url(fonts/BetinaScriptExtraCCT.ttf);
 }
@font-face {
  font-family: DomCasual;
  src: url(fonts/DomCasual.ttf);
 }
@font-face {
  font-family: a_AntiqueTrady;
  src: url(fonts/a_AntiqueTrady.ttf);
 }
@font-face {
  font-family: Allstar4;
  src: url(fonts/Allstar4.ttf);
 }

@media (min-width: 979px) { 
  ul.nav li.dropdown.show-on-hover:hover > ul.dropdown-menu { /* open submenu onhover */
      display: block;
  }
  .comment-list .children { /* for comments */
      padding: 0;
      margin-left: 74px;
      padding-bottom: 15px;
  }
  .comment-list .media {
      margin-top: 0;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
/*jt class*/
.clear{
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.yellow{
  color: #e89503;
}

/* end jt class*/

/*header*/
header{
  background: #dadada;
  height: 160px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.headRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-header a{
  display: block;
  text-decoration: none;
}
.navbar-header a:hover{
  color: #000000;
  text-decoration: none;
}
#head-logo{
  width:94px;
  height:76px;
  display: inline-block;
}
#blog-name{
  font: 23px Allstar4;
  text-transform: uppercase;
  color: #000000;
}
.menu-main-menu-container ul{/*current-menu-item*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 25px VantaThin;
}
.menu-main-menu-container ul li{
  display: inline;
}
.menu-main-menu-container .current-menu-item{
  border-bottom: 2px solid #e89503;
}
.menu-main-menu-container ul a{
  color: #000000;
  text-decoration: none;
}
.menu-main-menu-container ul a:hover{
  color: #eaab1c;
  text-decoration: none;
}
.slicknav_menutxt{
  font-size: 30px;
  color: #000000;
}
.mobile_memu{
  text-align: center;
}
.mobile_memu li{
  display: block!important;
}
.mobile_memu .current-menu-item{
  border: none;
}


@media (max-width: 768px){
  .headRow{
  }
}
/*End header*/
/*main Page*/
.main-img{
  width: 100%;
  height: auto;
}
.banner-img-container{
  height: 520px;
  overflow: hidden;
  background: url(./img/telefon_stena.jpg) no-repeat center right;
}
.banner-blackout-narrow{
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 90px;
}
.banner-head{
  color: #ffffff;
  font-size: 57px;
  font-family: Allstar4;
}
.banner-paragraph{
  color: #ffffff;
  font-size: 43px;
  font-family: "Vanta Thin";
  margin-left: 140px;
  text-transform: uppercase;
}
.grey-background{
  background-color: #dadada;
  padding-bottom: 50px;
}
.project-head{
  color: #1d1d1b;
}
.project-head hr{
  color: #4c4c4a; /* Цвет линии для остальных браузеров */
  background-color: #4c4c4a; /* Цвет линии для браузера Firefox и Opera */
  border-top-color: #4c4c4a;
}
.project-container1{
  background-color: #f6f6f6;
  padding: 20px 20px 68px;
  height: 100%;
}
.shadow{
  box-shadow: 10px 10px 25px #888888;
}
.project-container1 img{
  width: 100%;
  height: auto;
}
.project-container2,
.project-container2 > *{
  background-color: #f6f6f6;
}
.project-container2 img{
  width: 100%;
  height: auto;
}
.poject4{
  margin-top: -30px;
}
.poject5{
  margin-top: -40px;
}
/* our team*/
.black-background{
  background-color: #1d1d1b;
}
.team-head{
  color: #ffffff;
}
.team-head hr{
  color: #ffffff; /* Цвет линии для остальных браузеров */
  background-color: #ffffff; /* Цвет линии для браузера Firefox и Opera */
  border-top-color: #ffffff;
}
.team-description{
  font-family: HelveticaNeueCyr;
  font-size: 21px;
  color: #fff;
}

























/*End main Page**/
/*  footer  */
footer{
  background: #dadada;
  min-height: 320px;
  font-family: VantaThin;
}
.section-head{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: 28px VantaThin;
  text-transform: uppercase;
}
.yellow-circle{
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: #e89503;
}
.underline{
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.underline hr{
  width: 160px;
}
.footer-head hr{
  color: #4c4c4a; /* Цвет линии для остальных браузеров */
  background-color: #4c4c4a; /* Цвет линии для браузера Firefox и Opera */
  border-top-color: #4c4c4a;
}
.contactUs input{
  width: 230px;
  height: 30px;
  margin-bottom: 23px;
  border: 2px solid #1d1d1b;
  border-radius: 0px;
  background-color: #dadada;
}
.contactUs input:focus{
  border-color: #eaab1c;
}
.contactUs button{
  width: 230px;
  height: 30px;
  background: #1d1d1b;
  color: #ffffff;
  font: 12px VantaThin;
  text-transform: uppercase;
}
.contactUs button:hover{
  background: #eaab1c;
  color: #ffffff;
}
.contactUs textarea{
  width: 360px;
  height: 140px;
  border: 2px solid #1d1d1b;
  border-radius: 0px;
  background-color: #dadada;
}
.contactUs textarea:focus{
  border-color: #eaab1c;
}
.container-contact-info{
  float: right;
}
.h4-contact-info{
  padding: 0;
  margin: 0;
}
.hr-contact-info{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 210px;
  color: #4c4c4a; /* Цвет линии для остальных браузеров */
  background-color: #4c4c4a; /* Цвет линии для браузера Firefox и Opera */
  border-top-color: #4c4c4a;
}
.ul-contact-info-head{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 8px;
  display: inline-block;
}
.ul-contact-info{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 8px;
  display: inline-block;
}
.ul-contact-info-head li{
  margin-bottom: 5px;
}
.ul-contact-info li{
  margin-bottom: 5px;
}
.ul-contact-info-head span{
  color: #e89503;
}
.footer-logo{
  width:47px;
  height:38px;
}
.container-copyrating{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.copyrating{
  font: 18px Allstar4;
  text-transform: uppercase;
}
@media (max-width: 992px){
  .container-contact-info{
      margin-top: 25px;
      float: none;
      width: auto;
      text-align: center;
  }
  .hr-contact-info{
      width: 150px;
  }

}
/* End footer  */