@charset "UTF-8";
/*   
Theme Name: your-clean-template-3
Theme URI: https://github.com/saxap/clean-wp-template
Version: 3.0
Tags: clean, development, html5, bootstrap
Description: Clean wordpress theme with minimal bootstrap3 markup for fast development starting
Author: saxa:p
Author URI: http://dontforget.pro
*/
@font-face {
  font-family: VantaThin;
  src: url(fonts/VantaThin.ttf);
}
@font-face {
  font-family: EuropeExt;
  src: url(fonts/europeext-normal.ttf);
}
@font-face {
  font-family: HelveticaNeueCyr;
  src: url(fonts/HelveticaNeueCyr.ttf);
}
@font-face {
  font-family: BetinaScriptExtraCCT;
  src: url(fonts/betinascriptextractt.ttf);
}
@font-face {
  font-family: DomCasual;
  src: url(fonts/domcasual-normal.ttf);
}
@font-face {
  font-family: a_AntiqueTrady;
  src: url(fonts/a_antiquetrady.ttf);
}
@font-face {
  font-family: Allstar4;
  src: url(fonts/Allstar4.ttf);
}

.img{
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img > img{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);  
}

/** modal **/
.modal-content {
  background: #dadada;
}

.modal-header {
  border-bottom: none;
}

/** modal order **/
#order-modal .modal-body .alert.status {
  display: none;
}

/** breadcrumbs **/
.breadcrumb {
  margin-bottom: 30px;
}

.breadcrumb .kb_sep {
  margin: 0 10px 0 8px;
}

.breadcrumb .kb_title {
  font-size: 18px;
  line-height: 20px;
  color: #e89503;
  font-weight: 600;
}

.breadcrumb a {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 600;
}

/** global **/

body {
  font-family: "VantaThin";
  font-size: 14px;
}

/*jt class*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.yellow {  color: #e89503;  }

h2.title {  max-width: 720px; font: 36px VantaThin; padding-bottom: 20px;  }
h3.title {  max-width: 360px; font: 28px VantaThin; padding-bottom: 20px;  }
h4.title {  max-width: 220px; font: 20px VantaThin; padding-bottom: 10px;  }
h2.title, h3.title, h4.title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin: 30px auto;
}
h2.title.white, h3.title.white, h4.title.white {
  color: #fff;
}
h2.title:after, h3.title:after, h4.title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -6px;
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
  background: #e89503;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  z-index: 1;
}

h2.title:before, h3.title:before, h4.title:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #000 calc(50% - 20px), transparent calc(50% - 20px), transparent calc(50% + 20px), #000 calc(50% + 20px));
  background-image: -moz-linear-gradient(left, #000 calc(50% - 20px), transparent calc(50% - 20px), transparent calc(50% + 20px), #000 calc(50% + 20px));
  background-image: -o-linear-gradient(left, #000 calc(50% - 20px), transparent calc(50% - 20px), transparent calc(50% + 20px), #000 calc(50% + 20px));
  z-index: 0;
}

/** btn **/

.btn-order {
  background: #1d1d1b;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 30px;
}
.btn-order:hover, .btn-order:focus, .btn-order:active, .btn-order:focus:active{
  color: #e89503;
  outline: none;
}

/** input **/
.form-control {
  border: 2px solid #1d1d1b;
  border-radius: 0px;
  background-color: #dadada
}

.form-control:focus {
  border-color: #eaab1c;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
  margin-left: 4px;
}

/** link **/

a {
  color: #000;
  text-decoration: none;
  outline: none;
}
a:hover, a:active, a:focus {
  color: #e89503;
  text-decoration: none;
  outline: none;
}

/* end jt class*/
/*header*/
header {
  background: #dadada;
  height: 160px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.header-contact ul{
  list-style: none;
}
.header-contact ul > li:not(:first-child) {
  margin-top: 15px;
}
.header-contact ul > li > a {
  font-size: 16px;
  font-weight: 800;
}

.header-contact ul > li > span.fa {
  margin-right: 7px;
}

.headRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-header a {
  display: block;
  text-decoration: none;
}

.navbar-header a:hover {
  color: #000000;
  text-decoration: none;
}

#head-logo {
  width: 94px;
  height: 76px;
  display: inline-block;
}

#blog-name {
  font: 23px Allstar4;
  text-transform: uppercase;
  color: #000000;
}

.menu-main-menu-container {
  text-align: right;
  line-height: 70px;
}

.menu-main-menu-container ul {
  /*current-menu-item*/
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 21px;
  text-transform: uppercase;
}

.menu-main-menu-container ul li {
  display: inline-block;
  margin: 0 15px;
  line-height: 50px;
  border-bottom: 4px solid transparent;
}

.menu-main-menu-container ul li.current-menu-item,
.menu-main-menu-container ul li:hover  {
  border-bottom: 4px solid #e89503;
}

.menu-main-menu-container ul a {
  color: #000000;
  text-decoration: none;
}


.slicknav_menu {
  position: absolute;
  bottom: 100%;
  right: 15px;
  line-height: 70px;
  z-index: 10;
  font-size: 30px;
  color: #000000;
  cursor: pointer;
}

.mobile-nav .dropdown-menu{
  left: auto;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.dropdown-menu > li > a{
  line-height: 30px;  
  font-size: 16px;
  font-weight: 600;
}
.dropdown-menu > li.current-menu-item {
  border-left: 4px solid #e89503;
  border-right: 4px solid #e89503;
  background-color: #dadada;
  
}
.dropdown-menu > li.current-menu-item> a{
  color: #e89503;
}

/*End header*/
/*main Page*/
.main-img {
  width: 100%;
  height: auto;
}

.banner-img-container {
  height: 520px;
  overflow: hidden;
  background: url(./img/telefon_stena.jpg) no-repeat center right;
  background-size: cover;
}

.banner-blackout-narrow {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 90px;
}

.banner-blackout-narrow h1 {
  color: #ffffff;
  font-size: 57px;
  font-family: Allstar4;
}

.banner-blackout-narrow p {
  color: #ffffff;
  font-size: 43px;  
  text-transform: uppercase;
}
.banner-blackout-narrow p.offset{
  margin-left: 140px;
}
.grey-background {
  background-color: #dadada;
  padding-bottom: 50px;
}

.project-head {
  color: #1d1d1b;
}

.project-head hr {
  color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨╛╤Б╤В╨░╨╗╤М╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓ */
  background-color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ Firefox ╨╕ Opera */
  border-top-color: #4c4c4a;
}

.project-slider{

}
.project-slider .item{
    height: 610px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.project-slider .block{
  background-color: #f6f6f6;
  padding: 30px 20px;
  box-sizing: border-box;
  height: 100%;
  width: 32%;
}
.project-slider .block:nth-child(2){
  width: 65%;
  padding: 20px 20px;
}
.shadow {
  box-shadow: 10px 10px 25px #888888;  
  overflow: hidden;
  background-color: #fff;
}
.shadow img{
  width: 100%;
}
.img-block{
  display: inline-block;
  width: 48%;
  height: 100%;
  margin: 0 2% 0 0;
}
.img-block:nth-child(2){
  margin: 0;
}
.img-block img{
  width: 100%;
  height: auto;
}
.img-block img:nth-child(2){
  margin-top: -30px;
}

@media(max-width: 1199px){
  .project-slider .item{
    height: 500px;
  }
}
@media(max-width: 991px){
  .project-slider .item{
    height: 400px;
  }
  .img-block img:nth-child(2){
    margin-top: -10px;
  }
  .project-slider .block:nth-child(2) {
    padding: 10px 20px 20px;
  }
}
@media(max-width: 767px){
  .project-slider .item{
    height: 600px;
  }
  .project-slider .block{
    width: 60%;
    margin: 0 auto;
  }
}
@media(max-width: 480px){
  .project-slider .block{
    width: 90%;
  }
}
/* our team*/
.black-background {
  background-color: #1d1d1b;
}


.team-description {
  //font-family: HelveticaNeueCyr;
  font-size: 21px;
  color: #fff;
}

/*End main Page**/
/*  footer  */
footer {
  background: #dadada;
  min-height: 320px;
  font-family: VantaThin;
}

.yellow-circle {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background: #e89503;
}

.underline {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.underline hr {
  width: 160px;
}

/** our team **/

.our-team {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-justify-content: space-between;
  justify-content: space-between;

  align-items: flex-start;
  margin: 10px 0 40px 0;
}

.our-team .block {
  width: 20%;
  padding-right: 15px;
}
.our-team .block:last-child {
  padding-right: 0;
}

.our-team .block .content {
  color: #fff;
  font-family: "VantaThin";
  line-height: 1.854;
}

.our-team .block .content .img {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.our-team .block .content .img > img{
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.our-team .block .content .img .img-social {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: none;
}

.our-team .block .content .img:hover .img-social {
  display: block;
  background-image: url('img/bg-our-team.png');
  background-size: cover;
}

.our-team .block .content .img-social ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.our-team .block .content .img-social ul > li {
  display: inline-block;
  line-height: 177px;
}

.our-team .block .content .name {
  font-size: 14px;
  border-bottom: 2px solid #fff;
  padding: 10px 0 5px 0;
}

.our-team .block .content .title {
  font-size: 21px;
}

/** our precess **/

.bg-our-process {
  background-image: url('img/bg-our-process.png');
  background-size: cover;
}
.bg-our-process .panel{
  background-color: transparent;
}
.bg-our-process .panel-title a{
  display: block;
  height: 100%;
}
.our-process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 80px 0px 120px 0px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: none;
}
.our-process:before{
  display: none;
}
.our-process:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}

.our-process .our-process-container {
  
}

.our-process .our-process-container .our-process-circle {
  height: 235px;
  width: 235px;
  border-radius: 50%;
  background-image: url('img/bg-our-team.png');
  background-size: cover;
  color: #fff;
  font-size: 21px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border: none;
}

.our-process .our-process-container.active .our-process-circle {
  background: transparent;
  box-shadow: inset 0px 0 0px 4px #fff;
  position: relative;
  color: #fff;
}

.our-process .our-process-container.active .our-process-circle:after {
  content: '';
  height: 120px;
  width: 4px;
  background: #fff;
  position: absolute;
  top: calc(100% - 3px);
  left: 50%;
}

.our-process-text-down p{
  color: #fff;
  font-size: 21px;
  margin: 15px 0 80px;
  text-align: justify;
}
@media(max-width: 991px){
  .our-process .our-process-container .our-process-circle {
    width: 180px;
    height: 180px;
  }
}
@media(max-width: 767px){
  .our-process-text-down p{
    margin: 0;
    font-size: 18px;
  }
}
/** our technologies **/

.bg-our-technologies {
  background-image: url('img/bg-our-technologies.png');
  background-size: cover;
}

.our-technologies {
  margin: 50px;
}

.our-technologies .container-tech {
  text-align: center;
  font-size: 35px;
  color: rgb(232, 149, 3);
}
.our-technologies .container-tech:focus,
.our-technologies .container-tech > *:focus{
  outline: none;
}
.our-technologies .container-tech .angular { font-family: 'BetinaScriptExtraCCT'; }
.our-technologies .container-tech .prestashop { font-family: 'EuropeExt'; }
.our-technologies .container-tech .yii { font-family: 'a_AntiqueTrady'; }
.our-technologies .container-tech .wordpress { font-family: 'DomCasual'; }




.footer-head hr {
  color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨╛╤Б╤В╨░╨╗╤М╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓ */
  background-color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ Firefox ╨╕ Opera */
  border-top-color: #4c4c4a;
}
.footer-bottom{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.contactUs input {
  width: 100%;
  max-width: 230px;
  height: 30px;
  margin-bottom: 23px;
  border: 2px solid #1d1d1b;
  border-radius: 0px;
  background-color: #dadada;
}

.contactUs input:focus {
  border-color: #eaab1c;
}

.contactUs input[type="submit"] {  
  background: #1d1d1b;
  color: #ffffff;
  font: 12px VantaThin;
  text-transform: uppercase;
}

.contactUs button:hover {
  background: #eaab1c;
  color: #ffffff;
}

.contactUs textarea {
  margin: 0 auto;
  width: 100%;
  max-width: 407px;
  height: 140px;
  border: 2px solid #1d1d1b;
  border-radius: 0px;
  background-color: #dadada;
  resize: none;
}

.contactUs textarea:focus {
  border-color: #eaab1c;
}

.container-contact-info {
 
}

.h4-contact-info {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.hr-contact-info {
  margin-top: 5px;
  margin-bottom: 10px;

  color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨╛╤Б╤В╨░╨╗╤М╨╜╤Л╤Е ╨▒╤А╨░╤Г╨╖╨╡╤А╨╛╨▓ */
  background-color: #4c4c4a;
  /* ╨ж╨▓╨╡╤В ╨╗╨╕╨╜╨╕╨╕ ╨┤╨╗╤П ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ Firefox ╨╕ Opera */
  border-top-color: #4c4c4a;
}

.ul-contact-info-head {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 8px;
  display: inline-block;
}

.ul-contact-info {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 8px;
  display: inline-block;
}

.ul-contact-info-head li {
  margin-bottom: 5px;
}

.ul-contact-info li {
  margin-bottom: 5px;
}

.ul-contact-info-head span {
  color: #e89503;
}

.footer-logo {
  width: 47px;
  height: 38px;
}

.container-copyrating {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.copyrating {
  font: 18px Allstar4;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .container-contact-info {
    margin-top: 25px;
    float: left;
    width: auto;
  }

  .hr-contact-info {
    width: 150px;
  }
}
/* End footer  */

/*# sourceMappingURL=style.css.map */